<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WikiQuizz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
           rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}" />
    <!-- Optional theme -->

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://indestructibletype-fonthosting.github.io/jost.css" type="text/css" charset="utf-8" />
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">WikiQuizz</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        Question <span th:if="${@data.getPageList().size() != 0}" th:text="${@data.getPageList().get(0).getChemin()}"></span> :
        <p th:if="${@data.getPageList().size() != 0}" class="lead"><h4><span th:text="${@data.getPageList().get(0).getQuestion()}"></span></h4></p>
        <br/>
        <p th:if="${@data.getPageList().size() != 0}">
            <a class="btn btn-lg btn-primary" th:href="${@data.getPageList().get(0).getUrl()}" role="button">Voir la réponse...</a>
        </p>
    </div>

</div><!-- /.container -->


</body>
</html>